<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.dong.boardMapper">



	<!-- 게시판 -->

	<!-- 공지사항 게시판 불러오기 -->
	<select id="boardList" resultType="BoardDTO">
		select boardNum, boardUserId,
		boardTitle, boardContent, boardDate, boardDel,
		boardCount, pName,
		boardId
		from board, codetable, user
		where board.boardUserId=user.userId
		AND user.userAdmin = codetable.pId
		AND boardId="203"
		AND boardDel=0
		order by boardNum
		desc
	</select>

	<!-- 강사 게시판 불러오기 -->
	<select id="boardTeaList" resultType="BoardDTO">
		select boardNum,
		boardUserId, boardTitle, boardContent, boardDate, boardDel,
		boardCount, pName, boardId
		from board, codetable, user
		where
		board.boardUserId=user.userId
		AND user.userAdmin = codetable.pId
		AND
		boardId="202"
		AND boardDel=0
		order by boardNum desc
	</select>

	<!-- 학생 게시판 불러오기 -->
	<select id="boardStuList" resultType="BoardDTO">
		select boardNum,
		boardUserId, boardTitle, boardContent, boardDate, boardDel,
		boardCount, pName, boardId
		from board, codetable, user
		where
		board.boardUserId=user.userId
		AND user.userAdmin = codetable.pId
		AND
		boardId="201"
		AND boardDel=0
		order by boardNum desc
	</select>


	<!-- 특정 boardNum 게시글 상세보기 -->
	<select id="boardDetail" parameterType="java.lang.Integer"
		resultType="BoardDTO">
		select boardNum, boardUserId, boardTitle, boardContent,
		boardDate, boardDel,
		boardCount, pName, boardId
		from board, codetable,
		user
		where board.boardUserId=user.userId
		AND user.userAdmin =
		codetable.pId
		AND boardNum=#{boardNum}
	</select>

	<!-- 작성자 정보 불러오기 -->
	<select id="registerUser" parameterType="java.lang.String"
		resultType="BoardDTO">
		select *
		from user, codetable
		where user.userAdmin =
		codetable.pId
		AND userId=#{userId}

	</select>

	<!-- 게시글 등록하기 -->
	<insert id="boardRegister" parameterType="BoardDTO">
		INSERT INTO board
		(boardUserId, boardTitle, boardContent, boardDate,
		boardId)
		VALUES
		(#{boardUserId}, #{boardTitle}, #{boardContent}, now(), #{boardId})
	</insert>

	<!-- 조회수 증가 -->
	<update id="updateCount" parameterType="java.lang.Integer">
		UPDATE board SET
		boardCount = boardCount+1
		WHERE boardNum = #{boardNum};
	</update>

	<!-- 게시글 정보 불러오기(게시판 이름 포함) -->
	<select id="selectOne" parameterType="java.lang.Integer"
		resultType="BoardDTO">
		select boardNum, boardUserId, boardTitle, boardContent,
		boardDate, pName
		from board, codetable, user
		where
		user.userId=board.boardUserId
		AND codetable.pId=board.boardId
		AND
		boardNum=#{boardNum}

	</select>

	<!-- 수정 -->
	<update id="editBoard" parameterType="BoardDTO">
		UPDATE board SET
		boardTitle
		= #{boardTitle}, boardContent = #{boardContent}, boardDate = now()
		WHERE boardNum = #{boardNum}
	</update>


	<!-- 삭제 -->
	<update id="delBoard" parameterType="java.lang.Integer">
		update board set
		boardDel = 1 where boardNum = #{boardNum}
	</update>





	<!-- 관리자//////////////////////////////////////////////////////////////// -->


	<select id="board" resultType="BoardDTO">
  		select *, (select pName from codetable, user where userAdmin = pId and boardUserId = userId) as pName, (select pId from codetable where boardId = pId) as pId
  		from board where boardDel = 0
  		order by boardNum DESC
  	</select>
  	
  	<select id="mNBoard" resultType="BoardDTO">
  		select *, (select pName from codetable, user where userAdmin = pId and boardUserId = userId) as pName, (select pId from codetable where boardId = pId) as pId
  		from board where boardDel = 0 and boardId = 203
  		order by boardNum DESC
  	</select>
  	
  	<select id="mTBoard" resultType="BoardDTO">
  		select *, (select pName from codetable, user where userAdmin = pId and boardUserId = userId) as pName, (select pId from codetable where boardId = pId) as pId
  		from board where boardDel = 0 and boardId = 202
  		order by boardNum DESC
  	</select>
  	
  	<select id="mSBoard" resultType="BoardDTO">
  		select *, (select pName from codetable, user where userAdmin = pId and boardUserId = userId) as pName, (select pId from codetable where boardId = pId) as pId
  		from board where boardDel = 0 and boardId = 201
  		order by boardNum DESC
  	</select>
  
  <select id="mBoardDetail" parameterType="java.lang.Integer" resultType="BoardDTO">
  	select *, (select pName from codetable where boardId = pId) as pName from board where boardNum = #{boardNum}
  	</select>
  	
  	<select id="mBoardRecycle" resultType="BoardDTO">
  		select *, (select pName from codetable, user where userAdmin = pId and boardUserId = userId) as pName, (select pId from codetable where boardId = pId) as pId
  		from board where boardDel = 1
  		order by boardNum DESC
  	</select>
  	
  	<delete id="mBoardRecycleDelete">
  		delete from board where boardNum = #{boardNum}
  	</delete>
  	
  	<update id="mBoardRestore">
  		update board set boardDel = 0 where boardNum = #{boardNum}
  	</update>
  	
  <select id="boardUser" parameterType="java.lang.String" resultType="BoardDTO">
      select *
      from user, codetable
      where user.userAdmin =
      codetable.pId
      AND userId=#{userId}
    </select>
    
  <insert id="mBoardRegister" parameterType="BoardDTO">
  	insert into board (boardTitle, boardUserId, boardContent, boardDate, boardCount, boardEtc, boardId, boardDel)
  	values (#{boardTitle}, #{boardUserId}, #{boardContent}, now(), #{boardCount}, #{boardEtc}, #{boardId}, #{boardDel})
  	</insert>
  	
  	<update id="mBoardEdit" parameterType="BoardDTO">
  	update board set boardTitle = #{boardTitle}, boardContent = #{boardContent} where boardNum = #{boardNum}
  	</update>
  	
  	<update id="mBoardDelete" parameterType="java.lang.Integer">
  	update board set boardDel = 1 where boardNum = #{boardNum}
  	</update>
  	
  	<update id="boardCount">
  	update board set boardCount = boardCount + 1 where boardNum = #{boardNum}
  	</update>
  	
	<update id="aiRefresh">
  		ALTER TABLE board AUTO_INCREMENT=1;
  		SET @COUNT = 0;
  		UPDATE board SET boardNum = @COUNT:=@COUNT+1;
  	</update>


	<!-- 학생/////////////////////////////////////////////////////////////// -->




</mapper>